p.credits
  | Music : 
  a(href='https://soundcloud.com/jeantonique/two-door-cinema-club-what-you-know-jean-tonique-remix', target='_blank') Two Door Cinema Club - What You Know (Jean Tonique Remix)
p.mention
  | Experiment by 
  a(href='https://twitter.com/pat_hg', target='_blank') @pat_hg
